.DS_Store
.idea/
imgs/
.ipynb_checkpoints/
slides/*.aux
slides/*.log
slides/*.nav
slides/*.out
slides/*.snm
slides/*.toc
slides/*.vrb
hot_id.csv
plots.cc
targets.csv
slides/vertexMLP-10-20-2022.*
slides/vertexMLP-11-03-2022.*
dim_tree.*
output.*
slides/vertexMLP-11-10-2022.*
slides/vertexMLP-11-15-2022.*
slides/dimuDNN-12-01-2022.*
slides/dimuDNN-12-08-2022.*
slides/dimuDNN-12-20-2022.*
