.DS_Store
.idea/
.ipynb_checkpoints/
imgs
slides/vertexMLP-10-11-2022.aux
slides/vertexMLP-10-11-2022.out
slides/vertexMLP-10-11-2022.log
slides/vertexMLP-10-11-2022.toc
slides/vertexMLP-10-11-2022.nav
slides/vertexMLP-10-11-2022.snm 
slides/vertexMLP-10-11-2022.vrb
slides/vertexMLP-10-13-2022.aux
slides/vertexMLP-10-13-2022.log
slides/vertexMLP-10-13-2022.nav
slides/vertexMLP-10-13-2022.snm
slides/vertexMLP-10-13-2022.toc
slides/vertexMLP-10-13-2022.vrb
slides/vertexMLP-10-13-2022.out
hot_id.csv
plots.cc
slides/vertexMLP-10-18-2022.aux
slides/vertexMLP-10-18-2022.log
slides/vertexMLP-10-18-2022.nav
slides/vertexMLP-10-18-2022.out
slides/vertexMLP-10-18-2022.snm
slides/vertexMLP-10-18-2022.toc
slides/vertexMLP-10-18-2022.vrb
targets.csv
slides/vertexMLP-10-20-2022.aux
slides/vertexMLP-10-20-2022.log
slides/vertexMLP-10-20-2022.nav
slides/vertexMLP-10-20-2022.out
slides/vertexMLP-10-20-2022.pdf
slides/vertexMLP-10-20-2022.snm
slides/vertexMLP-10-20-2022.toc
slides/vertexMLP-10-20-2022.vrb
slides/vertexMLP-10-21-2022.aux
slides/vertexMLP-10-21-2022.log
slides/vertexMLP-10-21-2022.nav
slides/vertexMLP-10-21-2022.out
slides/vertexMLP-10-21-2022.snm
slides/vertexMLP-10-21-2022.toc
slides/vertexMLP-10-21-2022.vrb
slides/vertexMLP-11-03-2022.*
dim_tree.*
output.*
